.medication-container {
  border-radius: 0.8rem;
  margin: 1rem 0.5rem 0.5rem;
  padding: 0.9rem;
  padding-bottom: 0.4rem;
  height: 11rem;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.medication-container h3 {
  color: #7a7a7a;
  margin: 0 0 1rem;
}

.medication-container p {
  font-weight: 600;
  font-size: 1.1rem;
  padding-bottom: 0rem;
  margin: 0 0 1rem;
}

.medication-container ul {
  list-style-type: none;
  padding: 0;
}

.medication-container li {
  margin: 0;
  font-size: 0.9rem;
  color: #7a7a7a;
}

.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 1rem;
  overflow: hidden;
}

.progress-bar {
  height: 1.25rem;
  background-color: #86b07d;
  transition: width 0.3s ease;
  border-radius: 1rem;
}
